body {
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/static/img/detailbg.png");
    font-family: sans-serif;
  }
  nav {
    width: 106px;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow-X: hidden;
    overflow-Y: hidden;
    background:   	#012C57;
    border-right: 12px solid #DEB887;
    transition: all 0.5s;
  }
  .hidescroll > span {
    display: block;
    padding: 1em 5em;
    font-size: 20px;
    margin: 0 0;
    color: rgba(255,255,255,0);
    font-weight: 60;
    transition: all 0.5s;
  }
  nav .navitem {
    color: rgba(0,0,0,0);
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 24px;
    padding: 0.5em 2em;
    transition: all 0.1s;
  }
  nav .navitem:hover {
    color: #fff;
  }
  nav .navitem:hover i {
    color: #fff;
  }
  nav .navitem i {
    font-size: 32px;
    vertical-align: middle;
    color: rgba(255,255,255,0.5);
    padding: 8px;
    border: 4px solid;
    border-radius: 100%;
    transform: translateX(-50%);
    transition: all 0.1s 0.1s;
  }
  nav:hover {
    width: 310px;
    overflow: hidden;  
  }
  nav:hover span {
    color: rgba(255,255,255,0.5);
    transition: all 0.1s 0.2s;
  }
  nav:hover .navitem {
    color: rgba(255,255,255,0.5);
  }
  
  .hidescroll {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    margin-right: -100px;
    padding-right: 100px;
  }