
<!DOCTYPE html>
<html lang="ko">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UNI:US</title>
    <link href="{% static 'css/home.css' %}" type="text/css" rel="stylesheet">
</head>

<body>
        <div class="container">
                <div class="left">
                  <div class="header">
                    <h2 class="animation a1"></h2>
                    <h4 class="animation a2"></h4>
                  </div>
                  <div class="form">
                   <!--
                    <div class="logo animation a1"><img src="unius symbol.png" alt="logo" style="width: 100px; height: auto;"/></div>
                   -->
                    <div class="first"><button class="animation a2">로그인</button></div>
                    <div class="second"><button class="animation a2">화원가입</button></div>
                  
                   <!--- <p class="animation a2"><a href="#">아이디/비밀번호 찾기</a></p> -->
                              <figure class="snip1380">
                                <div class="image animation a4"><img src="{% static 'img/hufslogo.jpeg' %}" alt="한국외대 서울캠퍼스" style="width: 200px; height: 200px;" /></div>
                                <figcaption><i>한국외대<br>서울캠퍼스</i></figcaption>
                                <a href="{% url 'hufspage' %}"></a>
                              </figure>
                              <figure class="snip1380">
                                <div class="image animation a5"><img src="{% static 'img/khlogo.png' %}" alt="경희대 서울캠퍼스" style="width: 200px; height: 200px; margin-bottom: 40px;" /></div>
                                <figcaption><i>경희대<br>서울캠퍼스</i></figcaption>
                                <a href="{% url 'khpage' %}"></a>
                              </figure>
                  </div>
                </div>
                <div class="right"></div>
              </div>
              
              
</body>
</html>
