<!DOCTYPE html>
<html lang="en">
<head>
                {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/khcss.css' %}" type="text/css" rel="stylesheet">
    <!-- Chart 용 -->
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
</head>
<body>
        <nav>
                <div class="hidescroll">
                        <a class="navitem" href="{% url 'home' %}"><i class="material-icons">home</i><span>Home</span></a>
                        <a class="navitem" href="#"><i class="material-icons">chrome_reader_mode</i><span>Articles</span></a>
                        <a class="navitem" href="#"><i class="material-icons">folder</i><span>Projects</span></a>
                        <a class="navitem" href="#"><i class="material-icons">book</i><span>Tutorials</span></a>
                        <!-- <span>Title</span> -->
                </div>
        </nav>

        <h1 style="margin: 250px">준비중입니다!</h1>

                
</body>
</html>